/* Capture Chance Page */
.header {
    text-align: center;
    margin-bottom: 50px;
}

.header h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 1), -1px -1px 2px rgb(0, 0, 0, 1), 1px -1px 2px rgb(0, 0, 0, 1), -2px 2px 2px rgb(0, 0, 0, 1);
}
  
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.body label, .body p{
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 1), -1px -1px 2px rgb(0, 0, 0, 1), 1px -1px 2px rgb(0, 0, 0, 1), -2px 2px 2px rgb(0, 0, 0, 1);
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: auto;
    padding: 20px;
}
  
.second-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: auto;
    padding: 20px;
}
  
/* For screens smaller than 920px */
@media (max-width: 920px) {
    .header {
        margin-bottom: 30px;
    }
}

/* For very small screens under 600px */
@media (max-width: 600px) {
    .header h1 {
        font-size: 1.7rem;
    }
}