/* Types.css */
.types-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 600px;
}

.types-section h2 {
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

.type-condition {
  width: 260px;
  display: flex;
  justify-content: center;
}

.type-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  max-width: 100%;
}

.type-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 8px;
  background-color: #3f3f3fc9;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease, box-shadow 0.2s ease;
  user-select: none;
}

.type-item:active {
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.type-item.selected {
  background-color: #c9c9c9; 
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
}

.type-icon-grid {
  width: 65px;
  height: auto;
  filter: brightness(70%);
  transition: filter 0.2s ease;
  pointer-events: none;
}

.type-item.selected .type-icon-grid {
  filter: brightness(100%);
}

.type-condition-select .react-select__control {
  width: 230px !important;
  font-size: 0.9rem;
  user-select: none;
}

.type-condition-select .react-select__menu {
  width: 230px !important;
  top: calc(80%) !important; 
}

.type-condition-select .react-select__option {
  padding: 6px 10px !important;
  font-size: 0.9rem;
}

.type-condition-select .react-select__single-value {
  transform: translateY(0px) !important;
}

@media (max-width: 768px) {
  .type-icon-grid {
    width: 60px;
  }
  
  .types-section {
    margin-top: -10px;
  }
}

@media (max-width: 480px) {
  .type-condition-select .react-select__control {
    font-size: 0.85rem;
  }
  .types-section {
    margin-top: 0px;
  }
}