/* TypeChartGrid.css */
.type-chart table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  user-select: none;
}

.type-chart table img {
  width: 54px;
  height: auto;
  transform: translateY(9%);
}

/* Corner cell styling */
.corner-header {
  position: relative;
  border: none;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0, 1), -1px -1px 2px rgb(0, 0, 0, 1), 1px -1px 2px rgb(0, 0, 0, 1), -2px 2px 2px rgb(0, 0, 0, 1);
  font-size: 12px;
  font-weight: bold;
}

/* Position the labels inside the corner cell */
.corner-header .defender {
  position: absolute;
  top: 9px;
  transform: translateX(-45%);
}

.corner-header .attacker {
  position: absolute;
  bottom: -1px;
  transform: translateX(-100%);
}

.type-chart th,
.type-chart td {
  padding: 2px;
  border: 1px solid #a0a0a0;
  text-align: center;
  transition: border-color 0.3s;
}

/* Removes border from the first row (header - defending type labels) */
.type-chart thead th {
  border: none;
}

/* Removes border from the first column (attacking type labels) */
.type-chart tbody td:first-child {
  border: none;
}

/* Specific background color for type effectiveness */
.type-chart td[data-effectiveness="2"] {
  background-color: rgb(0, 119, 10); /* Green for 2x */
}

.type-chart td[data-effectiveness="0.5"] {
  background-color: rgb(139, 0, 0); /* Red for 0.5x */
}

.type-chart td[data-effectiveness="0"] {
  background-color: rgb(61, 61, 61); /* Gray for 0x */
}
