/* BaseStats.css */
.base-stats-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.base-stats-section h2 {
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-right: 130px;
}

.stat-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stat-row label {
  width: 140px;
  color: #fff;
  text-align: right;
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

.stat-condition {
  width: 110px !important;
}

.stat-condition .react-select__control {
  width: 124px !important;
  font-size: 0.9rem;
}

.stat-condition .react-select__menu {
  width: 124px !important;
  top: calc(80%) !important; 
}

.stat-condition .react-select__option {
  padding: 6px 10px !important;
  font-size: 0.9rem;
}

.stat-condition .react-select__indicator-separator {
  display: none;
}

.stat-condition .react-select__single-value {
  transform: translateY(0px) !important;
}

.stat-input {
  width: 60px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #6d6d6d;
  background-color: #444c56;
  color: #fff;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease;
}

.stat-input:hover,
.stat-input:focus {
  border-color: #ccc;
}


@media (max-width: 768px) {
  .base-stats-section{
    margin-top:10px
  }
  .stats-grid {
    margin-right: 90px;
  }
}

@media (max-width: 400px) {
  .stats-grid {
    margin-right: 70px;
  }
}

@media (max-width: 330px) {
  .stats-grid {
    margin-right: 50px;
  }
}

@media (max-width: 305px) {
  .stats-grid {
    margin-right: 40px;
  }
}