/* BaseStats.css */
.base-stats-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.base-stats-section h2 {
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
  margin-right: 130px;
}

.stat-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stat-row label {
  width: 140px;
  color: #fff;
  text-align: right;
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

.stat-control {
  display: flex;
  align-items: center;
  background-color: #444c56;
  border: 1px solid #6d6d6d;
  border-radius: 8px;
  height: 42px;
  transition: border-color 0.3s ease;
  position: relative;
}

.stat-condition::after {
  content: "|";
  color: #d8d8d8;
  font-size: 1.5rem;
  position: absolute;
  right: -20px;
  top: 50%;
  font-weight: 200;
  transform: translateY(-55%);
  z-index: 20;
}

.stat-control:hover,
.stat-control:focus-within {
  border-color: #ccc;
}
.separator {
  color: #fff; /* Match your text color */
  font-size: 1rem;
  padding: 0 5px; /* Space around the | */
}
.stat-condition {
  width: 110px !important;
  flex: 1;
  border: none; 
}

.stat-condition .react-select__control {
  width: 124px !important;
  font-size: 0.9rem;
  background: transparent;
  border: none !important;
  box-shadow: none;
  color: #fff;
  border-radius: 8px;
}

.stat-condition .react-select__menu {
  width: 124px !important;
  top: calc(80%) !important; 
}

.stat-condition .react-select__option {
  padding: 6px 10px !important;
  font-size: 0.9rem;
}

.stat-condition .react-select__indicator-separator {
  display: none;
}

.stat-condition .react-select__single-value {
  transform: translateY(0px) !important;
}

.stat-input {
  width: 60px;
  padding: 10px 0;
  font-size: 1rem;
  border: none;
  background-color: #444c56;
  color: #fff;
  outline: none;
  text-align: center;
  transition: border-color 0.3s ease;
  border-radius: 8px;
}

.stat-input:hover,
.stat-input:focus {
  outline: none;
}


@media (max-width: 768px) {
  .base-stats-section{
    margin-top:10px
  }
  .stats-grid {
    margin-right:100px;
  }
}

@media (max-width: 480px) {
  .stats-grid {
    margin-right:75px;
  }
}

@media (max-width: 400px) {
  .stat-condition .react-select__control {
    font-size: 0.85rem;
  }
  .stats-grid {
    margin-right: 65px;
  }
}

@media (max-width: 350px) {
  .stats-grid {
    margin-right: 55px;
  }
}

@media (max-width: 325px) {
  .stats-grid {
    margin-right: 50px;
  }
}

@media (max-width: 315px) {
  .stats-grid {
    margin-right: 37px;
  }
}