/* DefendingEffectiveness.css */
.defending-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 210px;
    padding: 5px;
    margin-top: 10px;
}

.defending-column.empty {
    border: none;
    box-shadow: none;
  }

/* Damage Category */
.defending-category {
    margin-top: 5px;
    padding: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
}

/* Category Title */
.defending-category h4 {
    font-size: 0.90rem;
    margin-bottom: 2px;
}

/* Type List Layout */
.defending-category ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    padding: 0;
    list-style: none;
}

.defending-category li img {
    width: 60px;
    height: auto;
    max-width: 100%;
}

/* 4x Damage */
.defending-category h4[data-effectiveness="4x"] {
    color: rgb(9, 255, 0);
}

/* 2x Damage */
.defending-category h4[data-effectiveness="2x"] {
    color: rgb(42, 196, 55);
}

/* 0.5x Damage */
.defending-category h4[data-effectiveness="0.5x"] {
    color: rgb(230, 33, 33);
}

/* 0.25x Damage */
.defending-category h4[data-effectiveness="0.25x"] {
    color: rgb(165, 38, 38);
}

/* 0x Damage */
.defending-category h4[data-effectiveness="0x"] {
    color: rgb(179, 179, 179);
}

/* Type Icons */
.defending-category li img {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
