/* Filter.css */
.filter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.search-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #ef1c1f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #c5171a;
}

.reset-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  background-color: #6d6d6d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #444c56;
}

.results-table {
  width: auto;
  border-collapse: collapse;
  background-color: #444c56;
  color: #fff;
}

.results-table th,
.results-table td {
  padding: 8px;
  border: 1px solid #6d6d6d;
  text-align: center;
}

.results-table th {
  background-color: #23262f;
  cursor: pointer;
  user-select: none;
}

.results-table th:hover {
  background-color: #ef1c1f;
}

.results-table .pokemon-icon {
  width: 40px;
  height: auto;
}

.results-table .type-icon {
  width: 55px;
  height: auto;
  margin: 0 2px;
  cursor: default;
}

.results-table th:nth-child(1),
.results-table td:nth-child(1) {
  width: 50px;
}

.results-table th:nth-child(2),
.results-table td:nth-child(2) {
  width: 150px;
}

.results-table th:nth-child(3),
.results-table td:nth-child(3) {
  width: 100px;
}

.results-table th:nth-child(4),
.results-table td:nth-child(4) {
  width: 120px;
}

.results-table td:nth-child(4) {
  font-size: 0.75rem;
}

.results-table th:nth-child(n+5),
.results-table td:nth-child(n+5) {
  width: 60px;
}

/* Sorting indicators */
.results-table th.sort-asc::after {
  content: " ↑";
  font-size: 0.8rem;
}

.results-table th.sort-desc::after {
  content: " ↓";
  font-size: 0.8rem;
}

.no-results {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  padding: 7px;
  margin-top: 10px;
  border: 1px solid #6d6d6d;
  background-color: #444c56;
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

@media (max-width: 768px) {
  .results-table {
    font-size: 0.9rem;
  }
  .results-table .pokemon-icon {
    width: 30px;
  }
  .results-table .type-icon {
    width: 50px;
  }
  .results-table th:nth-child(1),
  .results-table td:nth-child(1) {
    width: 30px;
  }
  .results-table th:nth-child(2),
  .results-table td:nth-child(2) {
    width: 80px;
  }
  .results-table th:nth-child(3),
  .results-table td:nth-child(3) {
    width: 80px;
  }
  .results-table th:nth-child(n+5),
  .results-table td:nth-child(n+5) {
    width: 10px;
  }

  /* Replace "Speed" with "Spd" */
  .results-table th:nth-child(10) {
    font-size: 0; /* Hide original text */
  }
  .results-table th:nth-child(10)::before {
    content: "Spd"; /* Insert Spd */
    font-size: 1rem; /* Match other headers font size */
  }
  .results-table th,
  .results-table td {
    padding: 7px;
  }
}

@media (max-width: 580px) {
  .filter-section {
    gap: 15px;
  }

  .button-container {
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
  }
  
  .results-table {
    width: 100%;
    font-size: 0.8rem;
  }

  .results-table th,
  .results-table td {
    padding: 6px;
  }

  .results-table th {
    font-size: 0.75rem;
  }

  .results-table .pokemon-icon {
    width: 30px;
  }

  .results-table .type-icon {
    width: 45px;
    margin: 0 1px;
  }

  /* Adjust column widths */
  .results-table th:nth-child(1),
  .results-table td:nth-child(1) {
    width: 25px; /* Icon */
  }

  .results-table th:nth-child(2),
  .results-table td:nth-child(2) {
    width: 60px; /* Name */
  }

  .results-table th:nth-child(3),
  .results-table td:nth-child(3) {
    width: 40px; /* Type(s) */
  }

  .results-table th:nth-child(4),
  .results-table td:nth-child(4) {
    width: 100px; /* Abilitie(s) */
  }

  .results-table td:nth-child(4) {
    font-size: 0.65rem;
    white-space: normal;
    word-break: break-word;
  }

  .results-table th:nth-child(5),
  .results-table td:nth-child(5) {
    width: 25px; /* HP */
  }

  .results-table th:nth-child(6),
  .results-table td:nth-child(6) {
    width: 25px; /* Atk */
  }

  .results-table th:nth-child(7),
  .results-table td:nth-child(7) {
    width: 25px; /* Def */
  }

  .results-table th:nth-child(8),
  .results-table td:nth-child(8) {
    width: 25px; /* Sp Atk */
  }

  .results-table th:nth-child(9),
  .results-table td:nth-child(9) {
    width: 25px; /* Sp Def */
  }

  .results-table th:nth-child(10),
  .results-table td:nth-child(10) {
    width: 25px; /* Speed */
  }

  .results-table th:nth-child(10)::before {
    font-size: 0.75rem;
  }

  .results-table th.sort-asc::after,
  .results-table th.sort-desc::after {
    font-size: 0.7rem;
  }

  .no-results {
    font-size: 1rem;
    padding: 5px;
    margin-top: 5px;
  }
}


@media (max-width: 495px) {
  .results-table {
    font-size: 0.7rem;
  }

  .results-table th,
  .results-table td {
    padding: 4px;
  }

  .results-table th {
    font-size: 0.7rem;
  }
  .results-table th:nth-child(10)::before {
    font-size: 0.7rem;
  }
  .results-table th.sort-asc::after,
  .results-table th.sort-desc::after {
    font-size: 0.7rem;
  }

  .results-table .type-icon {
    width: 43px;
    margin: 0 1px;
  }

  .results-table th:nth-child(1),
  .results-table td:nth-child(1) {
    width: 0px;
  }

  .results-table th:nth-child(2),
  .results-table td:nth-child(2) {
    width: 0px; 
  }

  .results-table th:nth-child(3),
  .results-table td:nth-child(3) {
    width: 0px;
  }

  .results-table td:nth-child(4) {
    font-size: 0.6rem;
  }

  .results-table th:nth-child(5),
  .results-table td:nth-child(5) {
    width: 0px;
  }

  .results-table th:nth-child(6),
  .results-table td:nth-child(6) {
    width: 0px;
  }

  .results-table th:nth-child(7),
  .results-table td:nth-child(7) {
    width: 0px;
  }

  .results-table th:nth-child(8),
  .results-table td:nth-child(8) {
    width: 0px;
  }

  .results-table th:nth-child(9),
  .results-table td:nth-child(9) {
    width: 0px;
  }

  .results-table th:nth-child(10),
  .results-table td:nth-child(10) {
    width: 0px;
  }
}

@media (max-width: 425px) {
  .results-table {
    font-size: 0.6rem;
  }
  .results-table .pokemon-icon {
    width: 25px;
  }
  .results-table th,
  .results-table td {
    padding: 2px;
  }

  .results-table th {
    font-size: 0.6rem;
  }

  .results-table th:nth-child(10)::before {
    font-size: 0.6rem;
  }

  .results-table th.sort-asc::after,
  .results-table th.sort-desc::after {
    font-size: 0.6rem;
  }

  .results-table .type-icon {
    width: 45px;
    margin: 0 0px;
  }
  .results-table td:nth-child(4) {
    font-size: 0.55rem;
  }

}

@media (max-width: 350px) {
  .results-table {
    font-size: 0.55rem;
  }

  .results-table th {
    font-size: 0.55rem;
  }
  .results-table th:nth-child(10)::before {
    font-size: 0.55rem; 
  }
  .results-table th.sort-asc::after,
  .results-table th.sort-desc::after {
    font-size: 0.55rem;
  }

  .results-table .type-icon {
    width: 40px;
  }
  .results-table th:nth-child(4),
  .results-table td:nth-child(4) {
    width: 80px;
  }

}

@media (max-width: 333px) {
  .results-table th,
  .results-table td {
    padding: 1px;
  }
  .results-table td:nth-child(4) {
    font-size: 0.5rem;
  }

}

@media (max-width: 310px) {
  .results-table th,
  .results-table td {
    padding: 0.5px;
  }

  .results-table td:nth-child(4) {
    font-size: 0.48rem;
  }
}