/* Essentials.css */
.essentials-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* Center content */
}

.essentials-section h2 {
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

.essentials-row {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center; /* Center horizontally */
}

.ability-input-wrapper {
  position: relative;
}

.ability-input {
  width: 200px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #6d6d6d;
  background-color: #444c56;
  color: #fff;
  outline: none;
  transition: border-color 0.3s ease;
}

.ability-input:hover,
.ability-input:focus {
  border-color: #ccc;
}

.ability-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  z-index: 10;
}

.ability-suggestions li {
  padding: 8px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #000, -1px -1px 2px #000, 1px -1px 2px #000, -2px 2px 2px #000;
}

.ability-suggestions li:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.alpha-label {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.alpha-label input {
  cursor: pointer;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  margin-top: -1px;
  accent-color: #fff;
}