/* Status Section */
.status-section {
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 8;
}

.status-label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.status-value{
    font-size: 0.9rem;
}

.status-icon {
    z-index: 3;
    transform: translate(-68px, -125px);
    width: 16px;
    height: 16px;
}

.status-image{
    width: 100%;
    height: 100%;
    user-select: none;
}

.status-section .react-select__option{
    padding: 10px 10px !important;
    display: inline-block !important;
    margin-right: 0px !important;
}

.status-section .react-select__control{
    width: 130px !important;
    user-select: none;
}

.status-section .react-select__menu{
    width:130px !important;
}

.status-section .react-select__single-value {
    display: inline-block !important;
    color: #fff !important;
    transform: translateY(0px) !important;
}

@media (max-width: 590px) {
    .status-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 300px;
    }
    .status-icon {
        transform: translate(135px, -295px);
    }
}

@media (max-width: 406px) {
    .status-icon {
        transform: translate(27px, -281px);
    }
}
