/* PokemonSearch.css */
.pokemon-search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease-out;
}

.pokemon-search-page .header h1 {
  margin-bottom: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  align-items: center;
}

.first-row-search {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.moves-essentials,
.base-stats {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements within */
}

.second-row-search,
.third-row-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.second-row .types-section,
.third-row .filter-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements within */
}

@media (max-width: 768px) {
  .search-container {
    padding: 10px;
  }
  .first-row-search {
    flex-direction: column;
    align-items: center;
  }
}