/* CaptureCalc Section */
.capture-calc-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 380px;
  height: 180px;
  padding: 30px;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 25px;
}

.capture-calc-section .input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.capture-calc-section .input-field label {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.9);
  user-select: none;
}

.capture-calc-section .input-field input{
  width: 50px;
  padding: 8px;
  border-radius: 8px;
  font-size: 1rem;
  border: 1px solid #6d6d6d;
  background-color: #444c56;
  color: #fff;
  transition: border-color 0.3s ease;
  text-align: center;
  outline: none;
}

.capture-calc-section input[type="text"]:focus {
  border-color: #ccc;
}

.input-field:has(input[type="checkbox"]) label {
  cursor: pointer;
}

.capture-calc-section .input-field input[type="checkbox"] {
    transform: translateY(2px);
    cursor: pointer;
    width: 16px;
    height: 16px;
    accent-color: #fff; 
}

.capture-calc-section .capture-chance {
  margin-top: 20px;
  font-size: 24px;
  color: #4CAF50;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

.low-chance {
  color: #e74c3c;  /* red-ish */
}

.medium-chance {
  color: #f39c12;  /* orange-ish */
}

.high-chance {
  color: #27ae60;  /* green-ish */
}

/* For screens below 920px */
@media (max-width: 920px) {
  .capture-calc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-left: 0px;
  }
}
/* For very small screens under 600px */
@media (max-width: 600px) {
  .capture-calc-section {
    max-width: 400px;       
  }
}