/* Footer Styles */
.footer {
  max-width: 100%;
  background: #23262f;
  color: #fff;
  padding: 20px 40px;
  text-align: center;
  border-top: 1px solid #ccc;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.6);
  position: relative;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: auto;
  z-index: 1;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-logo .poke {
  color: #fff;
}

.footer-logo .mmo {
  color: #ef1c1f;
}

.footer-logo .helps {
  color: #fff;
  margin-left: 5px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin: 10px auto;
}

.footer-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 5px 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  margin-left: -35px;
}

.footer-menu li {
  display: inline;
}

.footer-menu a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-menu a:hover {
  color: #ef1c1f;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.05), -1px -1px 2px rgba(255, 255, 255, 0.05), 1px -1px 2px rgba(255, 255, 255, 0.05), -1px 1px 2px rgba(255, 255, 255, 0.05);
}

/* Theme & Language Selector */
.theme-selector,
.language-selector {
  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 2;
}

.theme-selector label,
.language-selector label {
  font-size: 0.9rem;
}

.theme-selector select,
.language-selector select {
  background-color: #23262f;
  color: #fff;
  border: 1px solid #ef1c1f;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;
}

.theme-submit-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.submit-art {
  position: absolute;
  transform: translate(-2%,100%);
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
  background: rgba(239, 28, 31, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  border-left: 3px solid #ef1c1f;
}

.footer-bottom {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  font-size: 0.8rem;
  opacity: 0.8;
}

.footer-bottom p{
  text-shadow: none;
}
.footer-disclaimer{
  margin-top: 10px;
}

@media (max-width: 810px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .footer-menu {
    margin-top: 30px;
    margin-left: 5px;
  }
  .theme-submit-container {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    font-size: 1.1rem;
    font-weight: 700;
  }
}

@media (max-width: 350px) {
  .footer-logo {
    font-size: 0.9rem;
    font-weight: 700;
  }
}

@media (max-width: 319px) {
  .submit-art {
    font-size: 0.7rem;
    transform: translate(5%,100%);
  }
}
