/* Pokemon Section */
.pokemon-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 250px;
    margin: 0;
    gap: 0;
    z-index: 6;
}

.checkbox-label {
    font-size: 1rem;
    color:  rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox {
    cursor: pointer;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    margin-top: -1px;
}

.pokemon-name {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #444c56;
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    transition: border-color 0.3s ease;
}

.pokemon-name:focus {
    border: 1px solid #6d6d6d;
}

.suggestion-box {
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #333;
    z-index: 10;
    max-height: 250px;
    overflow-y: auto;
    list-style: none;
}

.suggestion-box li {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.suggestion-box li:hover {
    background-color: rgba(0, 123, 255, 0.1);
}

.pokemon-info {
    margin-top: 10px;
}

.catch-rate {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

/* For small screens */
@media (max-width: 810px) {
    .pokemon-section {
        width: 100%;
        max-width: 300px;
    }

    .checkbox-container {
        transform: none;
        margin-bottom: 10px;
    }

    .suggestion-box {
        top: calc(100%);
    }

}

/* For very small screens */
@media (max-width: 480px) {
    .pokemon-section {
        width: 100%;
        max-width: 250px;
    }

    .checkbox-container {
        order: 1;
        align-self: center;
        margin: 10px 0;
    }

    .pokemon-name {
        font-size: 14px;
    }

}